/* FONT STACK */
body, input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=file] {
	position: relative;
	top: -30px;
	left: 140px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */
html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa),
		color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= '#aaaaaa',
		EndColorStr= '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: hidden;
	/* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	-moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	box-shadow: 0 0 0.3em #255b17;
}

#grailsLogo {
	background-color: #abbf78;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body, .ie7 body, .ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
#	color: #48802c;
	color: gray;
}

a:hover, a:active {
	outline: none;
	/* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */
#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
	
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

#footer {
	background: rgb(149, 149, 149); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(149
		, 149, 149, 1)), color-stop(46%, rgba(13, 13, 13, 1)),
		color-stop(50%, rgba(1, 1, 1, 1)), color-stop(53%, rgba(10, 10, 10, 1)),
		color-stop(76%, rgba(78, 78, 78, 1)),
		color-stop(87%, rgba(56, 56, 56, 1)),
		color-stop(100%, rgba(27, 27, 27, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595',
		endColorstr='#1b1b1b', GradientType=1);
	padding: 2em 0 5em 0;
}

#f1 {
	position: relative;
	top: 50px;
	color: gray;
	left: 35%;
	font-size: 1em;
	font-style: arial;
	margin: 0 auto;
}

.footer {
	font-style: bold;
	clear: both;
	margin-top: 1.5em;
	min-height: 1em;
	clear: both;
	left: -20%;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */
.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */
fieldset, .property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label, .fieldcontain .property-label { #
	color: #666666;
	color: gray;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	-moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */
fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */
.errors, .message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
	width: 300px;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	-moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	box-shadow: 0 0 0.25em #ff8888;
}

.errors ul, .message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */
.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */
input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */
table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	#padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
		color-stop(1, #eaeaea));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= '#ffffff',
		EndColorStr= '#eaeaea');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

/* PAGINATION */
.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a, .pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus, .pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
	.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */
.buttons {
	position: relative;
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input, .buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus, .buttons a:hover, .buttons a:focus
	{
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
	.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
	.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save
	{
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

/* Shared Reference Customization */
#header {
	background: rgb(14, 14, 14); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(14, 14, 14, 1) 0%,
		rgba(125, 126, 125, 1) 34%, rgba(125, 126, 125, 1) 82%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(14,
		14, 14, 1)), color-stop(34%, rgba(125, 126, 125, 1)),
		color-stop(82%, rgba(125, 126, 125, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(14, 14, 14, 1) 0%,
		rgba(125, 126, 125, 1) 34%, rgba(125, 126, 125, 1) 82%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(14, 14, 14, 1) 0%,
		rgba(125, 126, 125, 1) 34%, rgba(125, 126, 125, 1) 82%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(14, 14, 14, 1) 0%,
		rgba(125, 126, 125, 1) 34%, rgba(125, 126, 125, 1) 82%); /* IE10+ */
	background: linear-gradient(135deg, rgba(14, 14, 14, 1) 0%,
		rgba(125, 126, 125, 1) 34%, rgba(125, 126, 125, 1) 82%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e',
		endColorstr='#7d7e7d', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	padding: .1em; 
	margin-bottom: 1em;
}

.shareref {
	position: relative;
	background: url("../images/home/share_references_banner.png") no-repeat;
	height: 80px;
	width: 470px;
	padding: 1em;
	left: 5%;
	right: 0;
	top: 0;
	text-indent: -9999px;
}

.fieldcontain {
	font-size: .9em;
	width: 100%;
}

.header-main {
	position: relative;
	left: 30px;
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Florence, cursive';
	background: -webkit-linear-gradient(#eee, black);
	-webkit-background-clip: text; #
	-webkit-text-fill-color: transparent;
	font-size: 45px;
}

.header-sub {
	position: relative;
	left: 150px;
	top: -20px;
	color: #000;
	font-size: 1.1em;
	font-style: italic;
	font-family: 'Florence, cursive';
	top: -20px;
}

/* Main Body Content */
#page-body, #status {
	position: relative;
	top: 100px;
}

/* Carousel css */
#carousel {
	position: relative;
	width: 1800px;
	height: 850px;
	left: -20px;
	margin: 0 auto;
	width: 800px;
}

#employee_input, #employer_input, #employeeHist_input,
	#employeeExp_input, #employeeRef_input {
	position: relative;
	top: 20%;
	left: 28%; 
}

#employeeRef_input {
	position: relative;
	top: 18%;
	left: 10%;
}

#employee_input {
	width: 75%;
	color: white;
	left: 125%;
}

#employeeHist_input, #subEmprForm {
	margin: 0 auto;
	width: 650px;
	top: 12%;
	#font-size: 15px;
}

#employeeHist_input {
	position: relative;
	left: 20%;
}

#employer_input {
	position: relative;
	margin: 0 auto;
	left: 12%;
}

input[type="text"], #sirName, #suffixName, #experience, #strongestSkills, #whyDidEmployeeLeave, #jobResponsibilities, #weakestSkills,
#confirmStartDate_day, #confirmStartDate_month, #confirmStartDate_year,#confirmEndDate_day, #confirmEndDate_month, #confirmEndDate_year,
#employerQuestions, #yearsKnown, #expiredDate_day, #expiredDate_month, #expiredDate_year {

	color: gray;
}

#employer_input #subEmprForm {
	position: relative;
	left: 1%;
	margin: 0 auto;
	width: 900px;
}

.fieldcontain textArea {
	position: relative;
	width: 200px;
}

.formcaption {
	position: relative;
	width: 80%;
	top: -10px;
	font-family: ;
	font-style: bold;
	font-size: 40px;
	margin-bottom: 10px;
	margin-left: 10%;
	font-family: 'Florence, cursive';
	border: 3px solid white;
	text-align: center;
	padding: 5px;
}

#employer_input .formcaption {
	position: relative;
	top: -30px;
	left: -7%;
}

#employeeRef_input .formcaption {
	position: relative;
	left: -4%;
	top: -28px;
}

#employeeHist_input .formcaption {
	position: relative;
	left: -18%;
}


.subcaption {
	position: relative;
	top: -10px;
	font-size: 1.2em;
	margin-left: 13%;
	width: 300px;
	font-family: Arial;
	font-weight: normal;
}

#employeeHist_input .fieldcontain {
	margin: 5px;
} 

#employeeExp_input .fieldcontain {
	margin: 5px;
} 

#slides {
	background: rgb(149, 149, 149); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(149
		, 149, 149, 1)), color-stop(46%, rgba(13, 13, 13, 1)),
		color-stop(50%, rgba(1, 1, 1, 1)), color-stop(53%, rgba(10, 10, 10, 1)),
		color-stop(76%, rgba(78, 78, 78, 1)),
		color-stop(87%, rgba(56, 56, 56, 1)),
		color-stop(100%, rgba(27, 27, 27, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(149, 149, 149, 1) 0%,
		rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%,
		rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1)
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595',
		endColorstr='#1b1b1b', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	overflow: hidden;
	/* fix ie overflow issue */
	position: relative;
	left: 3%;
	width: 100%;
	height: 850px;
	padding-right: -8%;
	border: 1px solid #ccc;
}

/* remove the list styles, width : item width * total items */
#slides ul {
	position: relative;
	left: 0;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0; #
	width: 750px;
	width: 2950px;
}

/* width of the item, in this case I put 250x250x gif */
#slides li {
	width: 700px;
	height: 350px;
	float: left;
	color: white;
	margin: 0 auto;
}

#slides li img {
	padding: 400px;
	width: 450px;
	height: 450px;
}

/* Styling for prev and next buttons */
#buttons {
	position: relative;
	padding: 5px 0 1px 0; #
	float: right;
	left: 50%;
}

#buttons a {
	display: block;
	width: 31px;
	height: 32px;
	text-indent: -999em;
	float: left;
	outline: 0;
}

a#prev {
	background: url(arrow.gif) 0 -31px no-repeat;
}

a#prev:hover {
	background: url(arrow.gif) 0 0 no-repeat;
}

a#next {
	background: url(arrow.gif) -32px -31px no-repeat;
}

a#next:hover  {
	background: url(arrow.gif) -32px 0 no-repeat;
}

.clear {
	clear: both;
}

/* .ebutton { */
/* 	position: relative; */
/* 	width: 300px; */
/* 	-webkit-box-sizing: border-box; Safari/Chrome, other WebKit */
/* 	-moz-box-sizing: border-box; Firefox, other Gecko */
/* 	box-sizing: border-box; Opera/IE 8+ */
/* 	-moz-box-sizing: border-box; Firefox, other Gecko */
/* 	box-sizing: border-box; margin 20 auto; */
/* 	-moz-border-radius: 15px; */
/* 	boder-radius: 15px; */
/* 	clear: left; */
/* } */

#save {
	position: relative;
	width: 500px; 
	height: 70px;
}

#employee_input #save {
	position: relative;
	#top: 70px;
	left: -49%;
}

#employer_input #save {
	position: relative;
	top: 25px;
	left: -32%;
}

#employeeHist_input #save {
	position: relative;
	top: 25px;
	left: -43%;
}

#employeeExp_input #save {
	position: relative;
	top: -40px;
	left: -43%;
}

#employeeRef_input #save {
	position: relative;
	top: 25px;
	left: 12%;
	
}



#employer_input .ebutton {
	position: relative;
	top: 30px;
	left: 40%;
}

#employee_input .ebutton {
	position: relative;
	top: 30px;
	left: 40%;
}

#employeeHist_input .ebutton {
	position: relative;
	top: 30px;
	left: 40%;
}

#trait {
	font-size: 1.2em;
	font-style: Arial;
	position: relative;
	left: 5%;
}

#empExp label {
	position: relative;
	top: 15px;
	width: 450px;
	left: -7%;
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-style: Arial;
	font-weight: normal;
}

#empExp textArea {
	position: relative;
	top: 20px;
	width: 550px;
	height: 14em;
	left: -17%;
	padding: .5em;
	rows: "4";
	cols: "4";
}

#employeeExp_input .ebutton {
	position: relative;
	top: 70px;
	left: 30%;
}

#employeeExp_input .formcaption {
	position: relative;
	top: -39px;
	left: -23%;
}

#employee_input .formcaption {
	position: relative;
	top: -30px;
	left: -5%;
}


*[id*=''tr_r'] checkBox {
	left: 60px;
}

#tr_4 {
	position: relative;
	top: 50px;
	clear: both;
}

#ckbox {
	position: relative;
	margin-left: 25px;
}

#left_button {
    position: fixed;
    top: 35%;	
    left: 23%;
    width: 200px;
}

#right_button {
    position: fixed;
    top: 35%;	
    left: 72%;
    width: 200px;
}

#prev, #next, #save, td [id*="button_"] {
  background-color: hsl(36, 1%, 11%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#838280", endColorstr="#1c1c1b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#838280), to(#1c1c1b));
  background-image: -moz-linear-gradient(top, #838280, #1c1c1b);
  background-image: -ms-linear-gradient(top, #838280, #1c1c1b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #838280), color-stop(100%, #1c1c1b));
  background-image: -webkit-linear-gradient(top, #838280, #1c1c1b);
  background-image: -o-linear-gradient(top, #838280, #1c1c1b);
  background-image: linear-gradient(#838280, #1c1c1b);
  border-color: #1c1c1b #1c1c1b hsl(36, 1%, 1%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66);
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#prev:hover, #next:hover, #save:hover, td [id*="button_"]:hover {
  background-color: hsl(195, 79%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68cced", endColorstr="#19a7d6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#68cced), to(#19a7d6));
  background-image: -moz-linear-gradient(top, #68cced, #19a7d6);
  background-image: -ms-linear-gradient(top, #68cced, #19a7d6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68cced), color-stop(100%, #19a7d6));
  background-image: -webkit-linear-gradient(top, #68cced, #19a7d6);
  background-image: -o-linear-gradient(top, #68cced, #19a7d6);
  background-image: linear-gradient(#68cced, #19a7d6);
  border-color: #19a7d6 #19a7d6 hsl(195, 79%, 42%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}	

.many-to-one{
	display:none;
}

/* set to support jquery button update for share and request page */
.greenButton {
    background-color: green;
}